@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #080808;
  color: white;
}

.font-serif {
  font-family: "Cormorant Garamond", serif;
}

.signature-font {
  font-family: "Great Vibes", cursive;
}